.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.7rem;
}
*{
    margin:0;
    padding:0;
}

.wrapper{
    width:100%;
}

.bg-primary {
    background-color: #41a9e1 !important;
  }

h1{
    text-align: center;
    padding-left: 30px 30px 20px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size:60px ;
    position: float;
    line-height: 50px;
    font-weight: bold;
    color: #2192CE;

  
}
p{
    text-align: left;
    padding-left: 0px 30px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px ;
    position: relative;
    line-height: 24px;
    width: 90%;
    position: inherit;
}
h2{
    text-align: left;
    font-size: 20px;
    width: 40%;
    position: relative;
    
}
.col-sm-4{
    width: 100%;
    text-align: center;
}
h2 img{
   float: right;
}

.img-uni{
    width: 100;
}



@media (min-width: 600px) {
    .column {
      width: 50%;
    }
  }

.column {
    width: 100%;
  }

img{
float: right;    
 margin: 0 0 0 15px;
 margin-right: 15px;
 max-width: 100%;
}
body {
    
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    border: solid;
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
    position: float;
    
}

